doctype html
html(lang="en")
    head  
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title weirdo
        style 
            include ../static/style.css
            include ../static/contactsstyle.css
          
        //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")

        //- script
        //-     include ../static/index.js
    body 
        div.header
            div.container
                div.navbar
                    div.logo
                        a(href="/") #[img(src="static/img/logo.png", alt="")]
                    nav.nav
                        ul#MenuItems
                            li #[a(href="/") Home]
                            li #[a(href="/product") Product]
                            li #[a(href="") About]
                            li #[a(href="/contact") Contact]
                            li #[a(href="") Accounts]
                    img(src="static/img/cart.png", width="30px" height="30px" alt="")

                    img(src="static/img/menu.png", width="30px" height="30px" class="menu-logo" id="btn" onclick="togglehide()" alt="")
           
        

    block content 
        h1 Contact Us
        form(action="/contact", method="post") 
            input(type="name", class="myInput",   id="name"    name="Name",    placeholder="Enter Your Name")
            input(type="phone", class="myInput",   id="phone"    name="phone", placeholder="Enter Your Number")
            input(type="address", class="myInput",   id="address"   name="address", placeholder="Enter Your address")
            input(type="name", class="myInput"   ,id="gender"   name="gender", placeholder="Enter Your Gender")
            input(type="email", class="myInput"   ,id="email"   name="email", placeholder="Enter Your email")
            input(type="number", class="myInput",   id="Age"   name="Age", placeholder="Enter Your Age")
            button(class="btn")
                | Submit
        script.
            console.log("hello")
            var MenuItems = document.getElementById("MenuItems");
            MenuItems.style.maxHeight="0px"
            function togglehide()
            {
          
                if(MenuItems.style.maxHeight == "0px"){
                    MenuItems.style.maxHeight="200px";
                }
                else{
                    MenuItems.style.maxHeight="0px";
                }
            }
         
    