/* body{
    background-color: #fff;
   
/* } */
.cart-title{
    text-align: center;
} 

.cart{
    position: absolute;
    top:0;
    right:-100%;
    width:100%;
    min-height: 100vh;
    background-color: #fff;
    padding: 20px;
    box-shadow: -2px 0 4px hsl(0, 4% 15%/10%);
}

/* for javascript */
.cart.active{
    right: 0;
}

.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    padding: 10px;
}
.detail-box{
    display: grid;
    row-gap: 0.5rem;
}
.cart-product-title{
    font-size: 1.3rem;
    text-transform: uppercase;
}
.cart-price {
    
    font-weight: 600;
}
.cart-quantity{
    border: 1px solid #333;
    width: 2.5rem;
    text-align: center;
    font-size: large;
}
.cart-remove{
    font-size:30px ;
    color: #ff532b;
    cursor: pointer;
    transition: 0.5s;
}
.cart-remove:hover{
    font-size:32px ;
    
  
}
#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2.5rem;
    color: #ff523b;
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid #333;
    /* margin-right: 10px; */
}
.total-title{
    font-size: 1rem;
    font-weight: 600;

}
.total-price{
    margin-left: 0.5rem;
}
.btn-buy{
    display: flex;
    background:#ff523b ;
    color: white;
    padding: 5px 20px;
    margin: 25px auto 100vh auto;
    border-radius: 8px;
    transition: 0.5s;
    cursor: pointer;
}
.btn-buy:hover{
    background: rgb(58, 36, 36);

} 

@media only screen and (max-width:800px ){
    h2{ 
        margin-top: 150px;
    }

} 
